# MongoDB Configuration
MONGODB_URI="mongodb+srv://dbrpjangir9977:DBrpj9977@rahul-portfolio-db.ofm9ngb.mongodb.net/?appName=rahul-portfolio-db"
# For production, use MongoDB Atlas:
# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/rahul-portfolio?retryWrites=true&w=majority