MONGODB_URI="mongodb://dbrpjangir9977:DBrpj9977@ac-wq0ahiy-shard-00-00.ofm9ngb.mongodb.net:27017,ac-wq0ahiy-shard-00-01.ofm9ngb.mongodb.net:27017,ac-wq0ahiy-shard-00-02.ofm9ngb.mongodb.net:27017/?ssl=true&replicaSet=atlas-ru1iwz-shard-0&authSource=admin&retryWrites=true&w=majority&appName=rahul-portfolio-db"